_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
src/.jekyll-cache
.DS_store
.ruby-version
.tweet-cache
assets/libs/
src/assets/libs/
node_modules/
vendor
.idea
.venv
.wrangler
workers/hits/.dev.vars
workers/hits/.wrangler
